@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}
.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-logo {
  margin: 0rem 3.5rem !important;
}
